{{! How to call the API }}
{{! Adding form validation }}
<div class="task-container">
  <div class="task-inner-container">
    <h1 class="task-heading"> Create Task Below: </h1>
    <form action="submit" class="task-form">

      <div class="task-form-group">
        <label for="title"> Title: </label>
        <Input
          name="title"
          @type="text"
          placeholder="Title goes here."
          maxlength="255"
          @value={{this.userInput.title}}
          {{on "input" this.logUserInputs}}
        />
      </div>
      <div class="task-form-group">
        <label for="description"> Description: </label>
        <Input
          name="description"
          @type="text"
          maxlength="255"
          placeholder="Description goes here."
          @value={{this.userInput.description}}
        />
      </div>

      <div class="task-form-group">
        <label for="status"> Status: </label>
        <Input
          name="status"
          @type="text"
          maxlength="50"
          placeholder="Status goes here."
          @value={{this.userInput.status}}
        />
      </div>

      <div class="task-form-group">
        <label for="dueDate"> Due Date: </label>
        <Input
          name="dueDate"
          @type="datetime-local"
          placeholder="dueDate goes here."
          @value={{this.userInput.dueDate}}
        />
      </div>
      <button type="submit" class="btn createTask"> Create Task! </button>
    </form>
  </div>
</div>